//Color
$volcano-blue: rgb(0, 131, 255);
$volcano-red: rgb(238, 110, 115);
$volcano-green: rgb(18, 183, 86);
$volcano-gray: rgb(178, 178, 178);
$volcano-light-gray: rgb(224, 225, 226);
$volcano-light-blue: rgb(3, 169, 244);


$volcano-success: #5cb85c;
$volcano-info: #5bc0de;
$volcano-warning: #f8b352;
$volcano-danger: #e6544f;



